.profile-text {
  border-radius: 10px;
  border: solid;
  border-width: 5px;
  border-color: #74accc50;
}

.Education {
  /* background-color: #f328c010; */
  padding-top: 12px;
  border-radius: 10px;
  border: solid;
  border-width: 5px;
  border-color: #74accc50;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding: 6px 16px 0px 0px;
  border-radius: 10px;
  border: solid;
  border-width: 5px;
  border-color: #74accc50;
}

.AboutMe {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff5e8;
}
* {
  background-color: #fff5e8;
}

.card {
  background-color: #fff5e8;
  border-width: 0;
}

#hero-image {
  position: relative;
}

#initials {
  position: absolute;
  padding: 5px;
  top: 45px;
  left: 63px;
}

.btn {
  background-color: #2d5c73;
  border-radius: 3px;
  border-width: 2px;
  border-color: #e25822;
}

.btn:hover {
  background-color: #e25822;
  border-color: #2d5c73;
  color: black;
  font-weight: bold;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
}

form {
  width: 400px;
}

.flex-item,
.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 2.4em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 1px;
}

textarea {
  resize: none;
}

@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .AboutMe img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .AboutMe img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 75%;
    max-width: 75%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .AboutMe img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
}
